body{
  text-align: center;
}

table{
  text-align: left;
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

input[type=text], input[type=password] {
  height: 30px;
  width: 96%;
  padding-left: 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

input[type=submit]{
  text-align: center;
  height: 30px;
  width: 100%;
  background-color: #04AA6D;
  border: 1px solid #04AA6D;
  color: white;
  opacity: 0.8;
  border-radius: 2px;
}

input[type=reset]{
  text-align: center;
  height: 30px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: red;
  border: 1px solid red;
  color: white;
  opacity: 0.8;
  border-radius: 5px;
}